html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:#eeefef;
    font-family: sans-serif;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: transparent;
}

.main {
    min-height: 60%;
    padding: 10px;
    background-color: #dcdde1;
    margin-bottom: 10%;
}

.main > .container {
    background-color: #dcdde1;
    padding: 10px;
    border-radius: 5px;
}

.image-header > .text-output {
    z-index: 1;
    font-weight: bold;
    font-size: 72px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.image-header > img {
    z-index: 99;
}

#main-footer {
    padding: 15px 10px 15px 10px;
}

#main-footer > div > div > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main-footer > div > div > ul > li > a {
    color: #fff;
}

#login-form {
    background-color: #fff;
    padding: 10px;
    margin-right: 26%;
    margin-left: 26%;
}