html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color:#eeefef;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: transparent;
}

.main {
    min-height: 60%;
    margin-bottom: 10%;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

img {
    margin-bottom: 2.5%;
}